<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SCM2.0 Test Suite">
    <test name="SCM2.0">
        <classes>
            <class name="com.yzt.testcase.IPSTest1"/>
            <!-- 				<methods>
                                <include name="loginTest" />
                                <include name="findTaskInstallTest" />
                                <include name="findMetaTest" />
                                <include name="saveTaskTraceTest" />
                                <include name="trunkEndTest" />
                                <include name="findTaskFeeTest" />
                                <include name="queryUserJztTest" />
                                <include name="batDisWorkerTest" />
                                <include name="appointmentTest" />
                                <include name="pickUpTest" />
                                <include name="uploadToSignTest" />
                                <include name="signTest" />
                            </methods>
                        </class> -->
            <!-- 		<class name="com.yzt.testcase.order.OrderTest">
                        <methods>
                            <include name="queryWaybillByIdTest" />
                        </methods>
                    </class> -->
        </classes>
    </test>
    <listeners>
        <listener class-name="com.test.framework.LogListener"/>
        <listener class-name="com.test.framework.Reporter"/>
    </listeners>
</suite>